/*Styles for article list component*/
.li-article-list{
    display:flex;
    flex-direction: column;
    margin:auto;
    max-width:95%;
    align-items: center;
}
.li-article{
    width:100%;
    max-width:800px;
    display:grid;
    margin-bottom:10px;
    grid-template-columns: 20% auto;
    
    background-color: #f2fcf3;
    
    align-items:center;
    padding:10px; 
}
.li-article:hover{
    border-left: 3px solid green;
}

.li-article-text{
    padding-left:10px;
}

.li-article-image-container{
    width:100%; 
    max-height:100%;
    padding:auto;
}


.li-article-image{
    max-height:100%;
    max-width:100%;
}
.li-article-text a{
    text-decoration: none;
    float:right;
    color:#5d6e5f;
    margin-right:15px;
}
@media only screen and (max-width: 400px) {
    .li-article{
        display:flex;
        flex-direction: column;
    }
    .li-article-image-container{
        max-height:300px;
        padding:auto;
    }
    .li-article-image{
        max-height:250px;
    }
}
/*Styles for verify users component*/
.table-container{
    background-color: #fbfffc;
    width:900px;
    max-width:95%;
    margin:30px auto auto auto;
    height:750px;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
}
.user-approve-table{
    width:100%;
    margin:30px auto 10px auto; 
}
.user-approve-description{
    max-width: 100%;
}
.user-approve-controls{
    display: flex;
    justify-content: space-around;
}
.audit-container{
    background-color:#fbfffc;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    max-width:95%;
    width:800px;
    margin:50px auto 0 auto;;
}
.audit-container-search1{
   display:flex;
   justify-content: space-evenly;
   width:90%;
   margin: 10px auto 10px auto;
}
@media only screen and (max-width: 550px) {
    .audit-container-search1 input{
        margin-bottom:10px;
    }
    .audit-container-search1 button{
        width:100px;
    }
    .audit-container-search1{
        flex-direction: column;
    }
}